@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}


.markdown {
  text-align: justify;
}

.markdown a {
  color: #3498db;
  text-decoration: none;
}

.markdown a:hover {
  text-decoration: underline;
}

.markdown ul {
  list-style-type: disc;
  margin-left: 1.25em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.markdown ol {
  list-style-type: decimal;
  margin-left: 1.25em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.markdown ul li,
.markdown ol li {
  margin-bottom: 0.75em;
}